$font-primary: 'Righteous', cursive;
$font-secondary: 'Odibee Sans', cursive;
$font-tertiary: 'Teko', sans-serif;

$text-primary: #f6f5f5;
$text-secondary: #d3e0ea;
$text-tertiary: #276678;

$bg-primary: #1687a7;
$bg-secondary: #276678;
$bg-tertiary: #d3e0ea;

$border: 1px solid $bg-tertiary;

$margin-primary: 10px;
$margin-secondary: 15px;